doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/lightbox.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 
      a(href='/') style#tags
    form(action='/upload', method='post', enctype='multipart/form-data')
      input(type='file', name='image')
      label tags(at least one):
      input(required, placeholder='mens, preppy', type='text', name='tags')
      input(type='submit', value='upload')
    div#tags
      ul 
        - if (tags && tags.length) 
          - tags.forEach(function (tag) {
            a(href='/' + tag)
              li= "#" + tag
          - })
    block content
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/lightbox.js')  
    script(type='text/javascript', src='/javascripts/jquery.masonry.min.js')
    script(type='text/javascript', src='/javascripts/jquery.infinitescroll.min.js')
    script(type='text/javascript', src='/javascripts/client.js')