body {
  padding: 50px;
  padding-top: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.image {
	float: left;
	margin: 10px;
}


li {
	list-style-type: none;
	display: inline;
	padding: 10px;
}

.loadmore {
	text-align: center
}
