body {
  padding: 50px;
  padding-top: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.image {
	border-radius: 5px;
	margin: 5px;
	float: left;
}

li {
	list-style-type: none;
}

.loadmore {
	text-align: center;
}

.row {
	width: 100%;
}