body {
  padding: 50px;
  padding-top: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/black_lozenge_@2X.png");
}

a {
  color: #00B7FF;
}

label {
	color: white;
}

p {
	color: white;
}

.image {
	border-radius: 5px;
	margin: 5px;
	float: left;
}

li {
	list-style-type: none;
}

.row {
	width: 100%;
}